@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddGalleryFunction</title>
</head>
<body>
    <div>
        <script>alert("@ViewBag.status");</script>
        <script>window.location = "/Admin/AddGallery"</script>
    </div>
</body>
</html>
