@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddMovieFunction</title>
</head>
<body>
    <div>
        <script>
            alert("@ViewBag.status");
            window.location='/Admin/AddMovie'
        </script>
    </div>
</body>
</html>
