@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteMovie</title>
</head>
<body>
    <div>
        <script>alert("@ViewBag.status");</script>
        <script>window.location='/Admin/ViewAllMovies'</script>
    </div>
</body>
</html>
