@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/HeaderFooter.cshtml";
}

<style>
    * {
        color: #333;
    }

    label {
        font-weight: 100;
    }

    h5 {
        color: #46b8da;
        font-weight: bold;
    }
</style>    

<div class="container">

    <div class="row" style="background-color:white; padding:2%;">
            <h3 style="color:#46b8da; margin-bottom:3%">&nbsp;&nbsp; About <label style="color:#860707;">Cinema PK</label></h3>
            <p>
                The Cinema is located in the heart of the city fortress stadium, Sozo World is ranked in the top 2 cinemas of Lahore in terms of footfall. Annual footfall of the cinema is over 200,000. Cinema PK is one of the best cinemas in Lahore having the biggest silver screen (22x48 feet) in the city. Cinema PK is equipped with Digital Sound System, JBL speakers and Crown Big Silver Screen.
                Recently imported VIP luxury seats have been installed for the better comfort for our guest. The leg space has been increased significantly to provide a more relaxed environment for our customers.
                Cinema PK 3D also provides a truly unique attraction in its musical fountain show experience which it has imported from the U.S. Cinema has installed a high end Technicolor 3D System to enhance the experience of their customers.
            </p><br />

        <img src="~/images/CinemaGallery/1.png" style="padding:2%"/>
        <img src="~/images/CinemaGallery/2.png" style="padding:2%" />
        <img src="~/images/CinemaGallery/3.png" style="padding:2%" />
        <img src="~/images/CinemaGallery/5.jpg" style="padding:2%" />
        <img src="~/images/CinemaGallery/4.jpg" style="padding:2%" />
    </div>

</div>
